{RULE_DESCRIPTION}  ({RULE_NAME})
=====================================================

## Context


## The following patterns are considered warnings/errors


## The following patterns are not warnings


## Options


## When not to use it

