{
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions" : {
        "sourceType" : "script"
    },
    "plugins": [],
    "extends": [],
    "rules": {
        // possible errors
        "comma-dangle": [ "error" ],
        "no-cond-assign": [ "error" ],
        "no-console": [ "error" ],
        "no-constant-condition": [ "error" ],
        "no-control-regex": [ "error" ],
        "no-debugger": [ "error" ],
        "no-dupe-args": [ "error" ],
        "no-dupe-keys": [ "error" ],
        "no-duplicate-case": [ "error" ],
        "no-empty": [ "error" ],
        "no-empty-character-class": [ "error" ],
        "no-ex-assign": [ "error" ],
        "no-extra-boolean-cast": [ "error" ],
        "no-extra-semi": [ "error" ],
        "no-func-assign": [ "error" ],
        "no-invalid-regexp": [ "error" ],
        "no-irregular-whitespace": [ "error" ],
        "no-negated-in-lhs": [ "error" ],
        "quote-props": [ "error", "as-needed" ],
        "no-regex-spaces": [ "error" ],
        "no-sparse-arrays": [ "error" ],
        "no-unreachable": [ "error" ],
        "use-isnan": [ "error" ],
        "valid-jsdoc": [ "error" ],
        "valid-typeof": [ "error" ],

        // best practices
        "block-scoped-var": [ "error" ],
        "consistent-return": [ "error" ],
        "curly": [ "error" ],
        "default-case": [ "error" ],
        "dot-notation": [ "error", { "allowKeywords": true } ],
        "eqeqeq": [ "error" ],
        "guard-for-in": [ "error" ],
        "no-alert": [ "error" ],
        "no-caller": [ "error" ],
        "no-div-regex": [ "error" ],
        "no-eq-null": [ "error" ],
        "no-eval": [ "error" ],
        "no-extend-native": [ "error" ],
        "no-extra-bind": [ "error" ],
        "no-fallthrough": [ "error" ],
        "no-floating-decimal": [ "error" ],
        "no-implied-eval": [ "error" ],
        "no-iterator": [ "error" ],
        "no-labels": [ "error" ],
        "no-lone-blocks": [ "error" ],
        "no-loop-func": [ "error" ],
        "no-multi-spaces": [ 0 ],
        "no-multi-str": [ 0 ],
        "no-native-reassign": [ "error" ],
        "no-new": [ "error" ],
        "no-new-func": [ "error" ],
        "no-new-wrappers": [ "error" ],
        "no-octal": [ "error" ],
        "no-octal-escape": [ "error" ],
        "no-param-reassign": [ "error" ],
        "no-proto": [ "error" ],
        "no-redeclare": [ "error" ],
        "no-return-assign": [ "error" ],
        "no-script-url": [ "error" ],
        "no-self-compare": [ "error" ],
        "no-sequences": [ "error" ],
        "no-throw-literal": [ "error" ],
        "no-unused-expressions": [ "error" ],
        "no-void": [ "error" ],
        "no-with": [ "error" ],
        "vars-on-top": [ 0 ],
        "wrap-iife": [ "error" ],
        "yoda": [ "error" ],

        // strict mode
        "strict": [ "error", "global" ],

        // variables
        "no-catch-shadow": [ "error" ],
        "no-delete-var": [ "error" ],
        "no-shadow": [ "error" ],
        "no-shadow-restricted-names": [ "error" ],
        "no-undef": [ "error" ],
        "no-undef-init": [ "error" ],
        "no-undefined": [ 0 ],
        "no-unused-vars": [ "error", { "vars": "all", "args": "none" } ],
        "no-use-before-define": [ "error", "nofunc" ],

        // node.js
        "handle-callback-err": [ "error", "^.*(e|E)rr" ],
        "no-mixed-requires": [ "error" ],
        "no-new-require": [ "error" ],
        "no-restricted-modules": [ "error", "" ],
        "no-process-exit": [ 0 ],

        // ES6
        "generator-star-spacing": [ "error", "after" ],
        "no-const-assign": [ "error" ],
        "prefer-const": [ "error" ],
        "no-var": [ "error" ],

        // stylistic
        "new-cap": [ "error", {"capIsNewExceptions": ["URI"]}],
        "camelcase": [ "error", { "properties": "never" } ],
        "eol-last": [ 0 ],
        "key-spacing": [ 0 ],
        "no-mixed-spaces-and-tabs": [ "error" ],
        "no-nested-ternary": [ "error" ],
        "no-underscore-dangle": [ 0 ],
        "semi": [ "error", "always" ],
        "space-infix-ops": [ "error" ],
        "quotes": [ "error", "single", { "avoidEscape": true }],
        "one-var": [ "error", "never" ],
        "indent": [ 0 ]
    },
    "settings": {
    }
}
