{
	"useTabs": true,
	"singleQuote": true,
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "preserve"
			}
		}
	]
}
